.recorditemtooltip {
  overflow-wrap: anywhere;
}

.recorditemtooltip > div {
  display: inline;
}

.recorditemtag {
  height: min-content;
}

.recorditemtagtooltip {
  cursor: help !important;
  height: min-content;
}

.recorditemtagtd {
  display: flex;
}

.recorditemtagdiv {
  display: flex;
  flex-direction: column;
}

.recorditemdialog {
  min-width: 35rem;
}

.recorditemdialog > div {
  display: inline;
}

.recorditemdialog a {
  color: rgb(82, 152, 255);
}
